
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(30, 54%, 90%);
}
h1,h2,h3{
    font-family: 'Young Serif';
    color: hsl(14, 45%, 36%);
}
h1{
    color: hsl(24, 5%, 18%);
}
h3{
    color: hsl(332, 51%, 32%);
}
p,li{
    font-family: 'Outfit';
    color: hsl(30, 10%, 34%);
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
}

.ingredients li{
    list-style: square;
}

hr{
    border: solid hsl(30, 18%, 87%);
    border-width: 1px;
}
.container{
    margin: 120px 330px;
    padding: 50px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
}

img{
    width: 100%;
    border-radius: 10px;
}

.time{
    background-color: hsl(330, 100%, 98%);
    padding: 10px 30px;
}

table{
    font-family: 'Outfit';
    color: hsl(30, 10%, 34%);
    width: 100%;
    margin-left:30px;
    line-height: 40px;
    border-collapse: collapse;
}

tr{
    border-bottom: solid hsl(30, 18%, 87%);
    border-width: 1px;
}

tr:last-child{
    border-bottom: none;
}
.nutrition-value{
    color:  hsl(14, 45%, 36%);
    font-weight: bold;
    border-bottom-style: 1px black;
}

@media only screen and (max-width:600px){
    .container{
        margin: 20px;
    }
    img{
        border-radius: 0;
    }
    table{
        margin-left: 0;
    }
}